@charset "UTF-8";

#container{
    height: 95vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#container p {
    left: 100%;
    margin: 0;
    display: inline-block; 
    white-space: nowrap;
    animation-name: marquee; /*アニメーションのクラス名*/
    animation-timing-function: linear;
    animation-duration: 5s; /*アニメーションの速度*/
    display: inline-block;
    position: fixed;

    font-size: 8vh;
    font-weight: bold;
    color: #FFF;
    -webkit-text-stroke: 2px #000;
}

@keyframes marquee {
    from   { left: 100%;} 
    99%,to { left: -100%;}
}
